<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}Salut Basta!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>
{% for message in app.flashes('success') %}
    <div class=" m-3 flex items-center justify-center px-8 py-3 border border-transparent text-white  hover:bg-green-900  font-medium rounded-md bg-green-400">
        {{ message }}
    </div>

{% endfor %}
{% block body %}{% endblock %}
</body>
</html>
